/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


.loginHeader{
	font-family:Arial;
	color:white;
	font-size:14px;
}
.loginText{
	font-family:Arial;
	font-size:10.5px;
	color:#f56e1d;
}
.loginfields{
	font-family:Arial;
	color:#FFFFFF;
	font-size:12px;
}
.loginTextInput{
	font-family:Arial;
	font-size:10.5px;
	focus-color:#f56e1d;
	color:#ffffff;
	content-background-color:#202020;
}





/*
s|Label{
	font-family:Arial;
	/*color:white;*/
/*
	font-sharpness:0px;	
	font-size:11px;
}
*/

.label{
	font-family:Arial;
	color:white;
	font-sharpness:0px;	
	font-size:10px;
}


/*
s|TextInput{
	theme-color:#3c3c3c;
	error-color:#f56e1d;
}
*/

.textArea{	
	font-size:10.5px;
	focus-color:#f56e1d;
	fontFamily: Arial;
	color: #ffffff;
	/*theme-color:#3c3c3c;*/
	border-style:solid;
	paddingLeft: 1;  
	paddingRight: 1;
	textIndent: 1;
	selection-color:#FFFFFF;   
	selected-fill-colors:#333333, #333333, #999999, #666666;
	content-background-color: #202020;
	/*backgroundColor: #202020;*/
	borderColor: #666666;
	cornerRadius: 3;
	dropShadowEnabled: false;   
	/*vertical-scroll-bar-style-name:"tascrollBar";*/  
	/*error-color:#f56e1d;*/ 
}




s|DropDownList{  
	/* overSkin:Embed('assets/skins/combo.swf',symbol="ComboBoxArrow_overSkin");
	up-skin:Embed('assets/skins/combo.swf',symbol="ComboBoxArrow_upSkin");
	down-skin:Embed('assets/skins/combo.swf',symbol="ComboBoxArrow_downSkin"); 
	disabled-skin:Embed('assets/skins/combo.swf',symbol="ComboBoxArrow_disabledSkin");    */
	
	font-family:Arial;
	font-size:10px;
	
	color:#000000;
	/*theme-color:#3c3c3c;*/
	selection-color:#FFFFFF;
	vertical-align:middle;
	text-indent:3px;   
	selection-color:#3c3c3c;
	content-background-color: #cccccc;
	/*background-color:#cccccc;*/
	text-selected-color:#f56e1d; 
	roll-over-color:#CCCCCC;
	alternating-item-colors:#a9a9a9, #a9a9a9; 
	text-roll-over-color:#000000;
	vertical-scroll-bar-style-name:"scrollBar";
}





.myDataGrid {
	backgroundColor: #000000;
	alternatingItemColors: #000000, #333333;
	headerColors: #484646, #0b0b0b;
	horizontalGridLines: false;
	horizontal-grid-line-color: #cccccc;
	icon-color:#f56e1d;
	verticalGridLines: true;
	verticalGridLineColor: #000000;   
	useRollOver: true;
	border-style:none;   
	separator-color:#3c3c3c;
	rollOverColor: #494747;
	selectionColor: #471e05;
	text-selected-color:#ffffff;
	text-roll-over-color:#ffffff;
	color: #cccccc;   
	textSelectedColor: #ff6600;
	dropShadowEnabled: false;
	shadowDistance: 4;
	shadowDirection: right;
	fontFamily: Arial;
	fontSize: 9;   
	headerStyleName: "mydataGridHeaderStyle";
	vertical-scroll-bar-style-name:"scrollBar";   
}

.mydataGridHeaderStyle {
	
	color: #ffffff;   
	use-roll-over:false;
	background-alpha:0.0;
	icon-color:#f56e1d;   
	border-style:none;
	fontFamily: Arial;      
	fontSize: 10;   
	vertical-grid-lines:false;
	separator-color:#000000;
   
}
.scrollBar {
	cornerRadius: 6;
	highlightAlphas: 0, 0.36;
	fillAlphas: 0.79, 1, 0, 0;
	fillColors: #333333, #333333, #999999, #666666;
	trackColors: #000000, #000000;
	themeColor: #666666;
	borderColor: #000000;
	roll-over-color:#3c3c3c;
}


.dateChooserStyle {
	font-size:10.5;
	cornerRadius: 2;
	headerColors: #999999, #666666;
	todayColor: #666666;
	rollOverColor: #cccccc;
	selectionColor: #999999;
	color: #ffffff;
	background-color: #000000;
	themeColor: #666666;
	dropShadowEnabled: true;
	fontFamily: Arial;
	headerStyleName: "mydateChooserHeaderStyle";   
	weekDayStyleName: "mydateChooserWeekDayStyle";   
	todayStyleName: "mydateChooserTodayStyle";
}
.mydateChooserHeaderStyle {
	color: #ffffff;
	fontFamily: Arial;
}
.mydateChooserWeekDayStyle {
	color: #ffffff;
	fontFamily: Arial;
}
.mydateChooserTodayStyle {
	color: #f56e1d;
	fontFamily: Arial;
}

.dateTextInput{
	font-size:11px;
	color:#ffffff;
	content-background-color:#202020;
	corner-radius:4;
}


.timeDisplay{
	font-size:22px;
	color:#3c3c3c;
}

.settingPagelabel
{
	fontFamily: Arial;
	font-size:10px;
	color:#f56e1d;
}

.settingPageText
{
	fontFamily: Arial;
	font-size:10.5px;
	color:#ffffff;
}

.settingPageBorderContainer
{
	background-color: #202020;
	corner-radius: 10;
	color: #ffffff;
}


/*
s|BorderContainer
{
	background-color: #323232;
	corner-radius: 5;
}
*/